{% comment %}
  Simple Table of Contents - just lists h2 headings
{% endcomment %}
<ul class="toc-list">
{% assign headers = include.html | split: '<h2 id="' %}
{% for header in headers %}
  {% unless forloop.first %}
    {% assign id = header | split: '"' | first %}
    {% assign rest = header | split: '>' | slice: 1, 10 | join: '>' %}
    {% assign title = rest | split: '</h2>' | first | strip_html | strip %}
    {% if title.size > 0 and title.size < 100 %}
    <li><a href="#{{ id }}">{{ title }}</a></li>
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>
